.collections-page{
    padding-top: 125px;
}
.collections-page h1{
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1.3rem 0;
}
.collections-filter{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eae8e4;
    border-bottom: 1px solid #eae8e4;
}
.collections-filter__title, .collections-filter__item{
    height: 80px;
    padding: 0 3rem;
    border-right: 1px solid #eae8e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.collections-filter__title{
    font-weight: 500;
}
.collections-filter__item:last-child{
    border: none;
}
.collections-products{
    padding: 3rem;
}
.collections-products .container{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-row: repeat(3,500px);
}
.collections-products__item{
    overflow: hidden;
    background: red;
}
.collections-products__item-box{
    overflow: hidden;
    height: 500px;
    background: grey;
    position: relative;
}
.collections-products__item-heart{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.collections-products__item-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collections-products__item-title{
    padding: 0.7rem 0;
    font-weight: 700;
}
.collections-products__item-price {
    font-weight: 500;
}