.container {
    width: 100%;
    max-width: 94%;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background: #f8f7f6;
    border-bottom: 1px solid #eae8e4;
}

.top-nav .container {
    display: flex;
    justify-content: space-between;
}

.top-nav__groupa {
    display: flex;
    font-size: 0.8rem;
}

.top-nav__groupa-link {
    padding-right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav__groupa-link .fa-solid {
    font-size: 1rem;
    margin-right: 5px;
    position: relative;
    top: -2px
}

.top-nav__groupa-linktext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav__groupb {
    display: flex;
}

.top-nav__groupb-icon {
    font-size: 1rem;
    width: 3rem;
    display: inline-block;
    text-decoration: none;
    color: #0e0d0d;
    /* background: red; */
    display: flex;
    justify-content: center;
}

.top-menu {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eae8e4;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
}

.top-menu__groupa {
    display: flex;
}

.top-menu__groupa-logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__groupa-links {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__groupa-link {
    color: #0e0d0d;
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.top-menu__groupb {
    width: 100%;
    max-width: 400px;
}

.top-menu__groupb-input {
    background: #e6e6e6;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.top-menu__groupb-input .fa-solid {
    font-size: 1rem;
    margin-right: .8rem;
}

.top-menu__groupb-search {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
}

.collection-player {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.collection-player__video {
    transform: scale(1.5);
    position: relative;
    z-index: 1;
}

.collection-player .container {
    position: absolute;
    bottom: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}

.collection-player__title {
    font-weight: 800;
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
}

.collection-player__button {
    font-weight: 800;
    font-size: 0.9rem;
    padding: 20px;
    background: white;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0e0d0d;
}

.collection-player__button:hover {
    opacity: .8;
    transition: .3 ease-in-out;
}

.footer{
    background: #19110b;
    padding: 40px 0;
}

.footer__title{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.footer__links{
    border-top: 1px solid rgba(255,255,255,.2);
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__link{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}